@import '@/global';

#background #background-container-theme {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#background {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#background-title-container {
  display: flex;
  justify-content: flex-start;
}

#background-container-theme {
  align-items: center;
  padding: 20px;
  margin-top: 25px;
  border-radius: 10px;

  background-color: $secondary-theme;
}