@import "@/global";

Table {
  background-color: $tertiary-theme;
  overflow: hidden;
  border-radius: 10px;
}

.table-responsive {
  max-width: 99.9%;
  max-height: 60vh;
}

th, tr {
  overflow: auto;
  text-align: center;
  border-color: $secondary-theme;
}

.data-type-text {
  align-self: flex-start;
}

.data-year-column {
  color: black;
  background: $main-theme !important;
  border: none;
  min-width: 10%;
}