@import "@/global";

Table {
  background-color: $tertiary-theme;
}

.two-tables {
  display: flex;
  max-width: 100%;
}

.table-years {
  padding-top: 40px;
  background: $main-theme !important;
  min-height: 100%;
  border-radius: 10px 0 0 10px;
}

.table-data {
  overflow: scroll;
  border-radius: 0 10px 10px 0;
}

.table-responsive {
  max-width: 99.9%;
  max-height: 60vh;
}

th, tr {
  text-align: center;
  border-color: $secondary-theme;
}

.data-year-column td, .data-year-column-active td {
  border-bottom: none;
}

.data-type-text {
  align-self: flex-start;
}

.data-year-column, .data-year-column-active {
  background: $main-theme !important;
  border: none;
  white-space: nowrap;
  flex-direction: column;
  display: flex;
}

.data-year-column a {
  color: black;
}

.data-year-column-active a {
  color: white;
  cursor: default;
  text-decoration: none;
}

.data-year-column a:hover {
  color: white;
}

.data-clickable-column a {
  color: $main-theme;
}

.data-clickable-column a:hover {
  color: black;
}
