//Theme variables

$main-theme: #0F758F;
$secondary-theme: #F2F2F2;
$border-color: #E0E0E0;
$tertiary-theme: white;

//Global default styles

body {
  display: flex;
}

h1 {
  color: black;
}

#root {
  width: 100%;
}