//Theme variables

$main-theme: #0F758F;
$secondary-theme: #F2F2F2;
$border-color: #E0E0E0;
$tertiary-theme: white;

//Global default styles

body {
  display: flex;
}

h1 {
  color: black;
}

h5 {
  font-weight: 600;
}

#root {
  width: 100%;
}

a {
  color: $main-theme;
}

a:hover {
  color: black;
}

.nav-tabs {
  color: $main-theme;
}

:root {
  --bs-link-color: $main-theme;
  --bs-link-hover-color: black;
}