@import "@/global";

.div-container {
  display: flex;
  width: 100%;

  .data-search-field {
    display: inline-flex;
    width: 50%;
    justify-content: flex-end;

    button {
      border-radius: 5px;
      border: none;
      background-color: $main-theme;
      height: 30px;
      margin-left: 10px;
    }
  }

  .data-type-choice {
    display: inline-flex;
    width: 50%;
    justify-content: flex-start;
  }

}

.student-counter {
  width: 100%;
  margin-top: 10px;
  margin-bottom: -20px;
  display: flex;
  justify-content: flex-end;
}

.filter-dropdown-menu {
  max-height: 17rem;
  overflow: auto;
  padding: 0.5rem;
  font-weight: normal;
}

.filter-dropdown-toggle {
  background: none;
  color: black;
  border: none;
  margin-top: 0.4rem;
}

.filter-dropdown-toggle:hover, .filter-dropdown-toggle:active:hover  {
  background: $main-theme;
  color: white;
}


.show .filter-dropdown-toggle {
  background: $main-theme;
  color: white;
}

.data-filter-error {
  text-align: left;
  padding: 2rem;
  font-size: large;
}